{% extends "ClarolineCoreBundle:Resource:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-path-path-resource.css') }}" />
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
        class="page-container path-container"
        data-path="{{ _resource | json_encode | raw | escape }}"
        data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
        data-user-progression="{{ userProgression | json_encode }}"
        data-total-progression="{{ totalProgression }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'path_wizards' }) }}"></script>

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-path-path-resource.js') }}"></script>
{% endblock %}
